.navbar {
    justify-content: space-evenly;
    height: 8vh;
}

.nav-item-main {
    font-size: 25px;
    line-height: 3vw;
}

.nav-item-secondary {
    font-size: 18px;
    line-height: 3vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.content {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    height: 92vh;
    width: 100vw;
}

.pull-left {
    margin-right: auto;
}

.pull-right {
    margin-left: auto;
}

.no-focus ::ng-deep .mat-button-focus-overlay {
    display: none;
}

.icon-display {
  transform: scale(1.5);
}

.lds-test {
    background: rgba(0,0,0,.3) no-repeat;
    width:100%;
    height:100%;
    position:fixed;
    z-index:999;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 35%;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--color-primary);
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}